.Allcars {
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-start;
  gap: 30px;
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/font/BackgroundLog.png);
}

.principale {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(./assets/font/BackgroundLog.png);
  background-size: 100%;
  padding-top: 2%;
}

.status {
  display: flex;
  justify-content: center;
  width: 70%;
  box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

#btn-logout {
  position: absolute;
  top: 7vh;
  left: 90vw;
  color: rgb(255, 17, 0);
}

.modele {
  display: flex;
  justify-content: center;
  width: 70%;
  box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  border: 1px solid black;
}

.gestion {
  width: 10%;
  display: flex;
  justify-content: space-around;
  gap: 30%;
}

.gestion img {
  width: 45%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  border: 1px solid black;
}

.info h2 {
  font-size: small;
}

.status {
  border-radius: 34px;
  border: solid 0.2vw RGB(248, 153, 28);
}

.CardItem {
  padding-top: 2vh;
  margin-left: 1vw;
  width: 30vw;
  height: 28vh;
  row-gap: 6%;
  background-color: #ecf0f2e6;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -7px 5px 8px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  border: solid 0.2vw RGB(248, 153, 28);
}
